
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Poppins",sans-serif;
    text-transform: capitalize;
    transition: all 0.2s linear;
    transition: width none;
    text-decoration: none;
  }
  
  :root{
    --green:#2eeea2;
    --dark-color:#12c37c;
    --black:#444;
    --box:#f7f7f7;
    --light-color:#666;
    --border:0.1rem solid rgba(0,0,0,0.1);
    --border-hover:0.1rem solid var(var(--black));
    --box-shodow:0 0.5rem 1rem rgba(0, 0, 0, 0.208);
  }
  
  html{
    font-size: 62.5%;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar{
    width: 1 rem;
  }
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  html::-webkit-scrollbar-thumb{
    background: var(--black);
  }
  
  
/* reviews section*/
.reviews .reviews-slider{
    padding-top: 0.8rem;
  }
  .reviews .reviews-slider .box{
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
    background: #fafafa;
  }
  .reviews .reviews-slider .box:hover{
    border: var(--border-hover);
  }
  .reviews .reviews-slider .box h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1rem 0;
    line-height: 2;
  }
  .reviews .reviews-slider .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
  }
  .reviews .reviews-slider .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
    max-height: 7rem; 
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #aaa #f0f0f0; 
  }
  .reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color: var(--green);
  }
  