@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Poppins",sans-serif;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
  text-decoration: none;
}

:root{
  --green:#2eeea2;
  --dark-color:#12c37c;
  --black:#444;
  --box:#f7f7f7;
  --light-color:#666;
  --border:0.1rem solid rgba(0,0,0,0.1);
  --border-hover:0.1rem solid var(var(--black));
  --box-shodow:0 0.5rem 1rem rgba(0, 0, 0, 0.208);
}

html{
  font-size: 62.5%;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  width: 1 rem;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: var(--black);
}

/*Navbar */
.header .header_one{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
  background: #ffffff;
}
.header .header_one .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--green);
}
.header .header_one .search-form{
  width: 50rem;
  height: 5rem;
  border: var(--border);
  overflow: hidden;
  background: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}
.header .header_one .search-form input{
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
  border: var(--border);
}
.header .header_one .search-form label{
  font-size: 2.5rem;
  padding: 1.5rem;
  line-height: 20px;
  color: var(--black);
  cursor: pointer;
}
.header .header_one .search-form label:hover{
  color: var(--green);
}
.header .header_one .icons{
  display: flex;
  align-items: center;
}
.header .header_one .icons .user-btn{
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
.header .header_one .icons .user-btn:hover{
  color: var(--green);
}
.header .header_two {
  background: var(--green);
}
.header .header_two .navbar{
  text-align: center;
}
.header .header_two .navbar a{
  color: #ffffff;
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.7rem;
}
.header .header_two .navbar a:hover{
  background: var(--dark-color);
}
.cart-icon {
  position: relative;
}




/* bottom navbar */
.bottom-navbar{
  text-align: center;
  background: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
  padding: 1rem 0;
}
.bottom-navbar a{
  font-size: 2.5rem;
  padding: 1rem 2rem;
  color: #ffffff;
}
.bottom-navbar a:hover{
  background: var(--dark-color);
}

@media( max-width:991px){
  html{
    font-size: 55%;
  }
  .header .header_one{
    padding: 2rem;
  }
}

@media(max-width:768px){
  html{
    scroll-padding-top: 0;
  }
  body{
    padding-bottom: 6rem;
  }
  .header .header_two{
    display: none;
  }
  .header .header_one{
    box-shadow: var(--box-shodow);
    position: relative;
  }
  .header .header_one .search-form{
    display: none;
  }
  #search-btn{
    display: inline-block;
  }
  .bottom-navbar{
    display:inline-block ;
  }
}

@media(max-width:450px){
  html{
    font-size: 50%;
  }
}


.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  color: #ffffff;
  border-radius: 0.5rem;
  background: var(--green);
  border: 1px solid var(--border);
  font-size: 1.7rem;
  font-weight: 700;
}
.btn:hover{
  background: var(--dark-color);
}


/** Home */
section{
  padding:3rem 9%;
}
@media(max-width:991px){
  section{
    padding: 3rem 2rem;
  }
}

.home{
  background:url(../public/images/bannerbg.jpg);
  background-position: center;
  background-size: cover;
}
.home .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.home .row .content{
  flex: 1 1 42rem;
}
.home .row .content h3{
  color: var(--black);
  font-size: 4.5rem;
}
.home .row .content p{
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}
.home .swiper{
  flex: 1 1 42rem;
  margin-top: 2rem;
  text-align: center;
}
.home .book-list .swiper-slide img{
  height: 25rem;
  object-fit: cover;
}
.home .book-list .swiper-slide:hover img{
  transform: scale(0.9);
}

@media(max-width: 768px){
  .home .row .content{
    text-align: center;
  }
  .home .row .content h3{
    font-size: 3.5rem;
  }
}

/*icons section*/
.icons-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.icons-container .icons{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.icons-container .icons i{
  font-size: 3.5rem;
  color: var(--green);
  padding: 2rem 0;
}
.icons-container .icons h3{
  color: var(--light-color);
  font-size: 2.2rem;
  border-bottom: 0.5rem;
}
.icons-container .icons p{
  color: var(--light-color);
  font-size: 1.4rem;
}
 
/*featured*/
.heading{
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}
.heading::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 0.01rem;
  background: rgba(0, 0, 0, 0.235);
  z-index: -1;
}
.heading span{
  font-size: 3rem;
  padding: 3rem 2rem;
  color: var(--black);
  border: var(--border);
  background: #ffffff;
}
.featured .row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.featured .row .featured-slider {
  padding: 1rem; 
}

.featured .row .featured-slider .box{
  width: 24rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  border: var(--black);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.featured .featured-slider .box:hover{
  border: var(--border-hover);
}
.featured .featured-slider .box .image{
  padding: 1rem;
  background: var(--box);
  flex: 1 0 auto;
}
.featured .featured-slider .box .image img{
  height: 25rem;
  max-width: 100%;
  object-fit: cover;
}
.featured .featured-slider .box:hover .image{
  transform: translateY(6rem);
  cursor: pointer;
}
.featured .featured-slider .box .icons{
  border-bottom: var(--border-hover);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 1;
  transform: translateY(-100%);
  border: var(--border);
  height: 55px;
}
.featured .featured-slider .box:hover .icons{
  transform: translateY(0);
}
.featured .featured-slider .box .icons a{
  color: var(--black);
  font-size: 2.2rem;
  padding: 1.3rem 1.5rem;
  line-height: 50px;
}
.featured .featured-slider .box .icons a:hover{
  background: var(--green);
  color:#ffffff;
}
.featured .featured-slider .box .content{
  background: #ffffff;
  padding: 1.5rem;
  flex: 0 1 auto;
}
.featured .featured-slider .box .content h3{
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.featured .featured-slider .box .content .price{
  font-size: 2rem;
  color: var(--black);
  padding-top: 0.5rem;
}
.featured .featured-slider .box .content .price span{
  font-size: 1.5rem;
  color: var(--light-color);
  text-decoration: line-through;
}

@media(max-width: 768px){
  .featured .row {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .featured .featured-slider .box{
    width: 25rem;
  }
}

/* nwsletter */
.newsletter{
  background: url(../public/images/letterbg.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newsletter form{
  max-width: 55rem;
  width: 90%;
  text-align: center;
  background: rgba(0,0,0,0.7);
  padding: 3rem 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.newsletter form h3{
  font-size: 2.4rem;
  color: #eee;
  padding-bottom: 1rem;
  font-weight: 600;
}
.newsletter form .box{
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  color: var(--black);
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  text-transform: none;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
}
.newsletter form .box:focus {
  border-color: var(--green); /* Highlight on focus */
  box-shadow: 0 0 5px var(--green);
}

.newsletter form .btn {
  width: 50%; /* Adjust button size */
  padding: 1rem;
  font-size: 1.6rem;
  color: #ffffff;
  background: var(--green);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
.newsletter form .btn:hover {
  background: var(--dark-green); /* Darker shade on hover */
}

@media(max-width:768px){
  .newsletter{
    background-position: right;
  }
  .newsletter form{
    margin-left: 0;
    max-width: 100%;
    padding: 2rem 1.5rem;
  }
  .newsletter form h3 {
    font-size: 2rem;
  }

  .newsletter form .box {
    width: 90%;
    font-size: 1.4rem;
  }

  .newsletter form .btn {
    width: 70%;
    font-size: 1.4rem;
  }
}

/* arrivals */
.category-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.category-button {
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-button.pink { background-color: var(--green); }
.category-button.green { background-color: var(--dark-color); }
.category-button.orange { background-color:var(--green); }
.category-button.blue { background-color: var(--dark-color); }
.category-button.purple { background-color: var(--green); }
.category-button.brown { background-color: var(--dark-color);}

.category-button:hover {
  transform: scale(1.3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.arrivals .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.arrivals .grid .box {
  width: 24rem;
  background: var(--box);
  margin: 2rem 0;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  border: var(--black);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.arrivals .grid .box:hover {
  border: var(--border-hover);
}
.arrivals .grid .box .image .hover-icons {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  gap: 1rem;
  transition: transform 0.3s ease-in-out;
}
.arrivals .grid .box:hover .image .hover-icons {
  transform: translate(-50%, -50%) scale(1);
}

.arrivals .grid .box .image .hover-icons a {
  width: 50px;
  height: 50px;
  color: var(--black);
  background: linear-gradient(1deg, #eee 5%,#e7e4e4e6 5%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: var(--black);
  transition: background 0.3s ease;
}

.arrivals .grid .box .image .hover-icons a:hover {
  background: var(--green);
}
.arrivals .grid .box .image img{
  width: auto;
  height: 25rem;
  object-fit: cover;
}
.arrivals .grid .box:hover .image{
  transform: scale(1.2);
  cursor: pointer;
}
.arrivals .grid .box .content {
  background: #ffffff;
  padding: 1.5rem;
  flex: 0 1 auto;
}
.arrivals .grid .box .content h3{
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.arrivals .grid .box .content .price{
  font-size: 2.2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}
.arrivals .grid .box .content .price span{
  font-size: 1.5rem;
  color: var(--light-color);
  text-decoration: line-through;
}
.arrivals .grid .box .content .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  color: #ffffff;
  border-radius: 0.5rem;
  background: var(--green);
  border: 1px solid var(--border);
  font-size: 1.7rem;
  font-weight: 700;
}

.arrivals .grid .box .content .btn:hover {
  background: var(--dark-color);
}

/* deal section*/
.deal{
  background: var(--box);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.deal .content{
  flex: 1 1 42rem;
}
.deal .content h3{
  color: var(--green);
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
.deal .content h1{
  color: var(--green);
  font-size: 4rem;
}
.deal .content p{
  padding: 1rem 0;
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}
.deal .image{
  flex: 1 1 42rem;
}
.deal .image img{
  width: 100%;
}

/* reviews section*/
.reviews .reviews-slider{
  padding-top: 0.8rem;
}
.reviews .reviews-slider .box{
  border: var(--border);
  padding: 2rem;
  text-align: center;
  margin: 2rem 0;
  background: #fafafa;
}
.reviews .reviews-slider .box:hover{
  border: var(--border-hover);
}
.reviews .reviews-slider .box h3{
  color: var(--black);
  font-size: 2.2rem;
  padding: 1rem 0;
  line-height: 2;
}
.reviews .reviews-slider .box img{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}
.reviews .reviews-slider .box p{
  color: var(--light-color);
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
  max-height: 7rem; 
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: #aaa #f0f0f0; 
}
.reviews .reviews-slider .box .stars i{
  font-size: 1.7rem;
  color: var(--green);
}

/*blog section*/

.blogs .blogs-slider .box {
  border: var(--border);
  margin: 2rem 0;
  overflow: hidden;
  display: flex;
  max-height: 35rem; 
  background: #ffffff;
  flex-direction: column;
}
.blogs .blogs-slider .box .image {
  width: 200px;         
  height: 200px;       
  overflow: hidden;     
  display: flex; 
  justify-content: center;
  align-items: center;
}
.blogs .blogs-slider .box .image img {
  width: 100%;          
  height: 100%;         
  object-fit: cover;   
  transition: transform 0.3s ease-in-out; 
}
.blogs .blogs-slider .box:hover .image img {
  transform: scale(1.1);
}
.blogs .blogs-slider .box .content {
  padding: 1.5rem;
  text-align: center;
  background: #fafafa;
}
.blogs .blogs-slider .box .content h3 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 1rem;
}
.blogs .blogs-slider .box .content p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 1.8;
  max-height: 5rem;
  margin-bottom: 1.5rem;
}
.blogs .blogs-slider .box .button{
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  color: #ffffff;
  border-radius: 0.5rem;
  background: var(--green);
  border: 1px solid var(--border);
  font-size: 1.7rem;
  font-weight: 700;
  position: absolute;
  top: 31rem;
}
.blogs .blogs-slider .box .button:hover{
  background: var(--dark-color);
}

@media (max-width: 768px) {
  .blogs .blogs-slider .box .image {
    height: 150px; 
  }
}

/*footer section */
.footer{
  background: #323232;
}
.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  padding: 1rem 0;
}
.footer .box-container .box h3{
  font-size: 2.2rem;
  color:#ffffff;
  padding: 1rem 0;
}
.footer .box-container .box a{
  display: block;
  font-size: 1.4rem;
  color: #e4e3e3f3;
  padding: 1rem 0;
}
.footer .box-container .box a i{
  color: var(--green);
  padding-right: 0.5rem;
}
.footer .box-container .box a:hover i{
  padding-right: 2rem;
}
.footer .box-container .box .map{
  width: 100%;
}
.footer .share{
  padding: 1rem 0;
  text-align: center;
}
.footer .share a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #ffffff;
  background: var(--green);
  margin: 0 0.5rem 0.3rem;
  border-radius: 50%;
  padding: 1.2rem 1.5rem;
}
.footer .credit{
  border-top: var(--border);
  margin-top: 2rem;
  padding: 0.1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}
.footer .credit span{
  color: var(--green);
}