*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Poppins",sans-serif;
    text-transform: capitalize;
    transition: all 0.2s linear;
    transition: width none;
    text-decoration: none;
  }
:root{
    --green:#2eeea2;
    --dark-color:#12c37c;
    --black:#444;
    --box:#f7f7f7;
    --light-color:#666;
    --border:0.1rem solid rgba(0,0,0,0.1);
    --border-hover:0.1rem solid var(var(--black));
    --box-shodow:0 0.5rem 1rem rgba(0, 0, 0, 0.208);
  }
  
html{
    font-size: 62.5%;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar{
    width: 1 rem;
  }
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  html::-webkit-scrollbar-thumb{
    background: var(--black);
  }
  
  

  /*Navbar */
.header .header_one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    background: #ffffff;
  }
  .header .header_one .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--green);
  }
  .header .header_one .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
  }
  .header .header_one .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
    border: var(--border);
  }
  .header .header_one .search-form label{
    font-size: 2.5rem;
    padding: 1.5rem;
    line-height: 20px;
    color: var(--black);
    cursor: pointer;
  }
  .header .header_one .search-form label:hover{
    color: var(--green);
  }
  .header .header_one .icons{
    display: flex;
    align-items: center;
  }
  .header .header_one .icons .user-btn{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
  }
  .header .header_one .icons .user-btn:hover{
    color: var(--green);
  }
  .header .header_two {
    background: var(--green);
  }
  .header .header_two .navbar{
    text-align: center;
  }
  .header .header_two .navbar a{
    color: #ffffff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
  }
  .header .header_two .navbar a:hover{
    background: var(--dark-color);
  }
  .cart-icon {
    position: relative;
  }
  
  .book-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .modal-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .price {
    font-size: 18px;
    font-weight: bold;
  }
  .original-price {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
  }
  .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    color: #ffffff;
    border-radius: 0.5rem;
    background: var(--green);
    border: 1px solid var(--border);
    font-size: 1.7rem;
    font-weight: 700;
  }
  .btn:hover{
    background: var(--dark-color);
  }
  
  
  /* bottom navbar */
  .bottom-navbar{
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    padding: 1rem 0;
  }
  .bottom-navbar a{
    font-size: 2.5rem;
    padding: 1rem 2rem;
    color: #ffffff;
  }
  .bottom-navbar a:hover{
    background: var(--dark-color);
  }
  
  @media( max-width:991px){
    html{
      font-size: 55%;
    }
    .header .header_one{
      padding: 2rem;
    }
  }
  
  @media(max-width:768px){
    html{
      scroll-padding-top: 0;
    }
    body{
      padding-bottom: 6rem;
    }
    .header .header_two{
      display: none;
    }
    .header .header_one{
      box-shadow: var(--box-shodow);
      position: relative;
    }
    .header .header_one .search-form{
      display: none;
    }
    #search-btn{
      display: inline-block;
    }
    .bottom-navbar{
      display:inline-block ;
    }
  }
  
  @media(max-width:450px){
    html{
      font-size: 50%;
    }
  }
  
  